# alias ll='ls -alF --group-directories-first' # on ubuntu
alias ll="eza --header --long --icons --all --group-directories-first --git" # on macOS
alias la='ls -A'
alias l='ls -CF'
alias lg="ll | grep"

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias gti=git # typo

alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

alias gitpurge='git branch --merged | grep -v "\*" | grep -v "master" | xargs -n 1 git branch -d'


alias git-rebase-main=git_rebase_main_func # defined in .functions
alias git-go-main="git pull -p; git checkout $(git_default_branch); git pull -p" # defined in .functions
