
[include]
    # For username / github token / etc
    path = ~/.gitconfig.local

[push]
    default = simple

[help]
	autocorrect = 5

[color]
    ui = true

[alias]
    br = branch
    co = checkout
    ci = commit
    st = status
    log25 = log --oneline --graph --decorate -25
    l25 = log --oneline --graph --decorate -25
    cb = checkout -b
    sh = stash
    shp = stash pop
    shl = stash list
    ro = remote update origin -p
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
    pager = bash -lc 'diff-highlight | strip_diff_leading_symbols | less -r' -

