
[include]
    # For username / github token / etc
    path = ~/.gitconfig.local
# content for .local
# [user]
#     name = ""
#     email = ""
#     signingKey = #path to .pub key
#
# [gpg]
#     format = ssh

[push]
    default = simple

[help]
	autocorrect = 5

[color]
    ui = true

[alias]
    br = branch
    co = checkout
    ci = commit -S
    st = status
    log25 = log --oneline --graph --decorate -25
    l25 = log --oneline --graph --decorate -25
    cb = checkout -b
    sh = stash
    shp = stash pop
    shl = stash list
    ro = remote update origin -p
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    tag = tag -s
    # e.g: git change-commits GIT_COMMITTER_NAME "old name" "new name"
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" \$@; }; f"

[core]
    pager = bash -lc 'diff-highlight | strip_diff_leading_symbols | less -r' -
    excludesfile = ~/.gitignore_global # assumes file is in user's home
